<div class="row" *ngIf="spotifyAccessToken$ | async as accessTokenObject">
  <div class="table-responsive">
    <table class="table table-hover table-bordered">
      <caption class="text-center">Spotify API response</caption>
      <thead>
      <tr>
        <th scope="col">Keys</th>
        <th scope="col">Values</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let keyValuePair of accessTokenObject | keyvalue">
        <td>{{keyValuePair.key}}</td>
        <td class="text-break">{{keyValuePair.value}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
