<div class="card border-0">
  <div class="card-body">
    <mat-card-title class="text-center">
      Use your credentials
    </mat-card-title>
    <div class="alert alert-info"
         role="alert">
      This website only uses your credentials for communicating with the Spotify web API!
    </div>
    <p class="card-text">
      In order to communicate with the Spotify web API, you need to use your client ID and client secret.
      If you haven't already done so, please check out this
      <a href="https://developer.spotify.com/documentation/general/guides/authorization/app-settings/"
         target="_blank"
         class="link-primary">
        page
      </a>. Your API credentials are only used in this website for sending HTTP requests to the Spotify web API.
      They will not be sent, or stored anywhere but your own browsers local storage for feasibility of use.
    </p>
    <div class="row">
      <a href="https://developer.spotify.com/documentation/"
         target="_blank"
         class="card-link text-end">
        API documentation
      </a>
    </div>
  </div>
</div>
