<div class="card">
  <div class="card-header">
    <div>Use your API credentials</div>
  </div>
  <div class="card-body">
    <mat-card-content>
      <p class="card-text">
        In order to communicate with the Spotify web API, you need to use your client ID and client secret.
        If you haven't already done so, please check out this
        <a href="https://developer.spotify.com/documentation/general/guides/authorization/app-settings/"
           target="_blank"
           class="link-primary">
          page
        </a>. Your API credentials are only used in this website for sending HTTP request to the Spotify web API.
        They will not be sent, or stored anywhere but your own browsers local storage for feasibility of use.
      </p>
    </mat-card-content>
    <div class="row">
      <a href="https://developer.spotify.com/documentation/"
         target="_blank"
         class="card-link text-end">
        API documentation
      </a>
    </div>
  </div>
</div>
