<ul class="nav justify-content-end list-unstyled d-flex">
  <li class="ms-3">
    <a class="text-reset text-decoration-none"
       href="https://github.com/ebarooni"
       target="_blank">
      <fa-icon [icon]="githubIcon" class="fa-2xl"></fa-icon>
    </a>
  </li>
  <li class="ms-3">
    <a class="text-reset text-decoration-none"
       href="https://stackoverflow.com/users/13690331/ilpianoforte"
       target="_blank">
      <fa-icon [icon]="stackOverflowIcon" class="fa-2xl"></fa-icon>
    </a>
  </li>
  <li class="ms-3">
    <a class="text-reset text-decoration-none"
       href="https://www.buymeacoffee.com/devEnthusiast"
       target="_blank">
      <fa-icon [icon]="coffeeIcon" class="fa-2xl" matTooltip="Buy me a coffee"></fa-icon>
    </a>
  </li>
</ul>
