<div class="card">
  <div class="card-header">
    Spotify API secrets
  </div>
  <div class="card-body">
    <form [formGroup]="apiSecretsFormGroup" (ngSubmit)="onSubmit()">
      <div class="input-group mb-3">
        <span class="input-group-text">Client ID</span>
        <input [formControlName]="'clientId'" type="text" class="form-control">
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text">Client secret</span>
        <input [formControlName]="'clientSecret'" type="password" class="form-control">
      </div>
      <div class="row mx-auto">
        <button type="submit"
                mat-raised-button
                [color]="'primary'"
                [disabled]="!apiSecretsFormGroup.valid">
          Send HTTP post request
        </button>
      </div>
    </form>
  </div>
</div>
