<mat-card class="mb-2">
  <mat-card-header>
    <mat-card-title>Client Credentials Flow</mat-card-title>
    <mat-card-subtitle>Server-to-server authentication</mat-card-subtitle>
  </mat-card-header>
  <mat-divider></mat-divider>
  <div class="row mt-4">
    <div class="col-md-5">
      <app-input-form (authCredentialsPropsEventEmitter)="sendHttpPostRequest($event)"></app-input-form>
    </div>
    <div *ngIf="spotifyAccessToken$; else emptyCard"
         class="col-md-7">
      <app-table [data$]="spotifyAccessToken$"
                 [errorHandler$]="errorHandler$">
      </app-table>
    </div>
    <ng-template #emptyCard>
      <div class="col-md-7">
        <app-wiki></app-wiki>
      </div>
    </ng-template>
  </div>
</mat-card>
