<div class="card mb-2 border border-0">
  <div class="card-body">
    <div class="d-flex justify-content-between">
      <div>
        <h5 class="card-title">Client Credentials Flow</h5>
        <h6 class="card-subtitle text-muted mb-2">Server-to-server authentication</h6>
      </div>
      <div class="mx-2">
        <app-delete-credentials (credentialsDeleteRequestEmitter)="deleteApiCredentialsFromLocalStorage()"></app-delete-credentials>
      </div>
    </div>
    <mat-divider></mat-divider>
    <div class="row mt-4">
      <div class="col-md-5">
        <app-input-form (authCredentialsPropsEventEmitter)="sendHttpPostRequest($event)"></app-input-form>
      </div>
      <div class="col-md-7">
        <app-table [data$]="spotifyAccessToken$"
                   [errorHandler$]="errorHandler$">
        </app-table>
        <app-wiki *ngIf="!(spotifyAccessToken$ | async) && !(errorHandler$ | async)"></app-wiki>
      </div>
    </div>
  </div>
</div>
